<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<context-param>
		<param-name>targetUrl</param-name>
		<param-value>http://localhost:8080/emulator/test</param-value>
	</context-param>
	<servlet>
		<servlet-name>WebSocket</servlet-name>
		<servlet-class>com.googlecode.dddwms.emulator.servlet.WebSocketServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>com.googlecode.dddwms.emulator.servlet.MockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebSocket</servlet-name>
		<url-pattern>/ws/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test/*</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>com.googlecode.dddwms.emulator.servlet.EmulatorListener</listener-class>
	</listener>
</web-app>
